textarea {
  max-width: 100%;
}

#main-content {
  padding: 10px;
  box-sizing: border-box;
}

#profile {
  width: 80%;
}

#bio-edit-form {
  margin-bottom: 20px;
}

#bio-input {
  width: 100%;
  height: 7em;
  font-size: 12pt;

  margin-top: 5px;
  margin-bottom: 10px;
}

#bio-edit-submit-button {
  cursor: pointer;
}

#bio-edit-status {
  color: #2f962c;
  margin-bottom: 20px;
}

#directory-link {
  margin-bottom: 15px;
}