<nav class="navbar my-3 navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand text-maroon" href="/">ReachMe</a>
    <ul class="navbar-nav align-items-center">
      <li class="nav-item">
        <a class="nav-link" href="#">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">GUIDELINES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">DIRECTORY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">DASHBOARD</a>
      </li>
      
      <li class="nav-item">
        <button class="btn text-white bg-maroon px-4">LOG OUT</button>
      </li>
    </ul>
  </div>
</nav>