<span
  class="badge rounded-pill px-4 py-3 text-white mb-2 me-2"
  style="
    font-size: 18px;
    font-weight: bold;
    background-color: #efdd7c;
    text-transform: uppercase;
  "
  ><%= tagName %>
</span>