<div
  class="container d-flex justify-content-center"
  style="margin-top: 6rem"
>
  <a href="./challenges"><img
    src=<%= `./images/challenges${page !== "challenges" ? "_grey" : ""}.png` %>
    alt="Challenges"
    width="67"
    class="mx-5"
  /></a>
  <a href="./achievements"><img 
    src=<%= `./images/achievements${page !== "achievements" ? "_grey" : ""}.png` %>
    class="mx-5" 
    alt="Achievements" 
    width="67"
  /></a>
  <a href="./dashboard"><img 
    src=<%= `./images/profile${page !== "dashboard" ? "_grey" : ""}.png` %>
    alt="Dashboard" 
    class="mx-5" 
    width="67"
  /></a>
</div>