<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" 
      type="image/png" 
      href="./images/reachme_favicon.png">
    <link href="./css/styles.css" rel="stylesheet" />

    <title>ReachMe | Challenges</title>
  </head>
  <body>
    <%- include('partials/header'); %>

    <%- include('partials/section-nav.ejs', { page: "challenges" }) %>

    <div class="container divider my-5"></div>

    <div class="container mb-5">
      <div class="row">
        <div class="col-md-7">
          <div
            class="col-md-12 bg-light d-flex flex-column py-5 px-5 align-items-center"
          >
            <p class="section-title mb-0">CHALLENGES</p>
            <div class="divider"></div>
            <div class="challenge-card">
              <div
                class="rounded-circle me-5"
                style="
                  min-width: 133px !important;
                  height: 133px !important;
                  background-color: #c4c4c4;
                "
              ></div>
              <div>
                <p style="font-weight: 600; font-size: 22px">
                  FRESHMAN FRENZY!
                </p>
                <p style="font-size: 18px">
                  This is some sample challenge text that needs to be written to
                  see how line breaking looks and will describe whatever challenge
                  or badge that the student will acheive. 
                </p>
              </div>
            </div>
            <div class="divider"></div>
            <div class="challenge-card">
              <div
                class="rounded-circle me-5"
                style="
                  min-width: 133px !important;
                  height: 133px !important;
                  background-color: #c4c4c4;
                "
              ></div>
              <div>
                <p style="font-weight: 600; font-size: 22px">
                  FRESHMAN FRENZY!
                </p>
                <p style="font-size: 18px">
                  This is some sample challenge text that needs to be written to
                  see how line breaking looks and will describe whatever challenge
                  or badge that the student will acheive. 
                </p>
              </div>
            </div>
            <div class="divider"></div>
          </div>
        </div>
        <div class="col-md-5 bg-light">
          <div
            class="col-md-12 bg-light d-flex flex-column py-5 px-5 align-items-center"
          >
            <p class="section-title">BADGES</p>
            <div class="divider"></div>
            <div class="container">
              <div class="row mb-4">
                <div class="col-sm d-flex justify-content-center">
                  <div
                    style="
                      background-color: #c4c4c4;
                      width: 108px;
                      height: 108px;
                      border-radius: 100%;
                      margin-right: 0;
                    "
                  ></div>
                </div>
                <div class="col-sm d-flex justify-content-center">
                  <div
                    style="
                      background-color: #c4c4c4;
                      width: 108px;
                      height: 108px;
                      border-radius: 100%;
                    "
                  ></div>
                </div>
                <div class="col-sm d-flex justify-content-center">
                  <div
                    style="
                      background-color: #c4c4c4;
                      width: 108px;
                      height: 108px;
                      border-radius: 100%;
                    "
                  ></div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-sm d-flex justify-content-center">
                  <div
                    style="
                      background-color: #c4c4c4;
                      width: 108px;
                      height: 108px;
                      border-radius: 100%;
                      margin-right: 0;
                    "
                  ></div>
                </div>
                <div class="col-sm d-flex justify-content-center">
                  <div
                    style="
                      background-color: #c4c4c4;
                      width: 108px;
                      height: 108px;
                      border-radius: 100%;
                    "
                  ></div>
                </div>
                <div class="col-sm d-flex justify-content-center">
                  <div
                    style="
                      background-color: #c4c4c4;
                      width: 108px;
                      height: 108px;
                      border-radius: 100%;
                    "
                  ></div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm d-flex justify-content-center">
                  <div
                    style="
                      background-color: #c4c4c4;
                      width: 108px;
                      height: 108px;
                      border-radius: 100%;
                      margin-right: 0;
                    "
                  ></div>
                </div>
                <div class="col-sm d-flex justify-content-center">
                  <div
                    style="
                      background-color: #c4c4c4;
                      width: 108px;
                      height: 108px;
                      border-radius: 100%;
                    "
                  ></div>
                </div>
                <div class="col-sm d-flex justify-content-center">
                  <div
                    style="
                      background-color: #c4c4c4;
                      width: 108px;
                      height: 108px;
                      border-radius: 100%;
                    "
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
