#bio-list {
  width: 100%;
}

.bio-div {
  border: 1px solid #000000;
  border-radius: 5px;
  box-sizing: border-box;

  margin: 10px 0;
  padding: 20px;
  width: 100%;
}

.profile-link {
  display: inline-block;
  margin-bottom: 10px;
}

.approve-button {
  margin-top: 20px;
  font-size: 10pt;
}