<!DOCTYPE html>
<html>
   <head>
      <title>ReachMe</title>
      <base href="/landing-page/">
      <link rel="stylesheet" type="text/css" media="all" href="./style/style.css" />
      <script src="./js/scripts.js"></script>
      <link rel="icon" type="image/png" href="./static/favicon.png">
      <link rel="canonical" href="."/>
      <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic%7COpen+Sans:400,700,400italic,700italic%7CMontserrat:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
   </head>

   <body class='pt-editor pt-page-ext-1 viewingPage desktop'>
      <div class='viewer'>
         <div id="wrapper-full">
            <div id="pt-site" class='css-form pt-site-view'>
               <script type="text/javascript"></script>
               <div id='pt-page-1' class='pt-page'>
                  <div id='pt-layout' class='pt-layout has-desktop has-tablet has-mobile '>
                     <div id="header">
                        <%- include('../partials/header'); %>
                     </div>
                     <div id='pt-section-wrapper-3' class='pt-section-wrapper'>
                        <div id='pt-section-3' style='background: rgba(255,255,255, 1); background-size: cover; background-position: center; background-image: url("./static/homepage.png"); font-size: 0;' class='pt-section'>
                           <div id='pt-section-canvas-3'  class='pt-section-canvas sectionViewing'>
                              <div id='pt-section-3-overlay-1'  data-sr="ease-in over 1.00s wait 0.00s">
                                 <div id='pt-section-3-overlay-wrapper-1' class='overlay-wrapper makevisible'>
                                    <div id='pt-section-3-overlay-1-content' class='pt-overlay'>
                                       <div id='pt-section-3-overlay-1-content-text' class='overlay-text nobackgroundcolor'>
                                          <h2>
                                             <div style='font-size: 14.6667px;'>Welcome to ReachMe! Create a profile, connect with someone on MS Teams, earn badges through the interaction, and climb our daily leaderboards! Users who 
have completed the most badges by the end of the year have a chance to win prizes! </div>
                                          </h2>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div id='pt-section-3-overlay-2'  data-sr="ease-in over 1.00s wait 0.00s">
                                 <div id='pt-section-3-overlay-wrapper-2' class='overlay-wrapper makevisible'>
                                    <div id='pt-section-3-overlay-2-content' class='pt-overlay'>
                                       <div id='pt-section-3-overlay-2-content-text' class='overlay-text nobackgroundcolor'>
                                          <h1><b>ReachMe</b></h1>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div id='pt-section-wrapper-4' class='pt-section-wrapper'>
                        <div id='pt-section-4' style='background: rgba(255,255,255, 1); background-size: cover; background-position: center; font-size: 0;' class='pt-section colourbackground'>
                           <div id='pt-section-canvas-4'  class='pt-section-canvas sectionViewing'>
                              <div id='pt-section-4-overlay-1'  data-sr="ease-in over 1.00s wait 0.00s">
                                 <div id='pt-section-4-overlay-wrapper-1' class='overlay-wrapper makevisible'>
                                    <div id='pt-section-4-overlay-1-content' class='pt-overlay'>
                                       <div id='pt-section-4-overlay-1-content-text' class='overlay-text'></div>
                                    </div>
                                 </div>
                              </div>
                              <div id='pt-section-4-overlay-2' >
                                 <div id='pt-section-4-overlay-wrapper-2' class='overlay-wrapper makevisible'>
                                    <div id='pt-section-4-overlay-2-content' class='pt-overlay'>
                                       <div id='pt-section-4-overlay-2-content-text' class='overlay-text nobackgroundcolor'>
                                          <h3><b>What's ReachMe?</b></h3>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div id='pt-section-4-overlay-3' >
                                 <div id='pt-section-4-overlay-wrapper-3' class='overlay-wrapper makevisible'>
                                    <div id='pt-section-4-overlay-3-content' class='pt-overlay'>
                                       <div id='pt-section-4-overlay-3-content-text' class='overlay-text nobackgroundcolor'>
                                          <div style='font-size: 14.6667px;text-align: left;'>1.&nbsp; Build a profile by customizing your bio and adding tags</div>
                                          <p><br></p>
                                          <div style='font-size: 14.6667px;text-align: left;'>2.&nbsp; Find a profile through the directory or using the randomizer</div>
                                          <p><br></p>
                                          <div style='font-size: 14.6667px;text-align: left;'>3.&nbsp; Reach Out!</div>
                                          <p><br></p>
                                          <div style='font-size: 14.6667px;text-align: left;'>4.&nbsp; Complete challenges by reaching out to users </div>
                                          <p><br></p>
                                          <div style='font-size: 14.6667px;text-align: left;'>5.&nbsp; Complete the most challenges and earn prizes!</div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div id='pt-section-4-overlay-4' >
                                 <div id='pt-section-4-overlay-wrapper-4' class='overlay-wrapper makevisible'>
                                    <div id='pt-section-4-overlay-4-content' class='pt-overlay'>
                                       <div id='pt-section-4-overlay-4-content-text' class='overlay-text nobackgroundcolor'>
                                          <h3><b>Get Started!</b></h3>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div id='pt-section-4-overlay-5' >
                                 <div id='pt-section-4-overlay-wrapper-5' class='overlay-wrapper makevisible'>
                                    <div id='pt-section-4-overlay-5-content' class='pt-overlay'>
                                       <div id='pt-section-4-overlay-5-content-text' class='overlay-text nobackgroundcolor'>
                                          <p>        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu eleifend risus, vitae porta massa. Vivamus vel ultricies arcu. Maecenas hendrerit efficitur ex id luctus. Suspendisse potenti. Pellentesque eu feugiat ante, eget tristique nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu eleifend risus, vitae porta massa. Vivamus vel ultricies arcu. <span style='text-align: left;'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu eleifend risus, vitae porta massa. Vivamus vel ultricies arcu. Maecenas hendrerit efficitur ex id luctus. Suspendisse potenti. Aliquam aliquet bibendum libero, eget consectetur libero vestibulum ac.</span></p>
                                          <p></p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                    <!-- GUIDELINES -->

                     <div id='pt-section-wrapper-5' class='pt-section-wrapper'>
                        <div id='pt-section-5'  class='pt-section colourbackground'>
                           <div id='pt-section-canvas-5' style='background: rgba(245,245,245, 1); background-size: cover; background-position: center; font-size: 0;' class='pt-section-canvas sectionViewing colourbackground'>
                              <div id='pt-section-5-overlay-1' >
                                 <div id='pt-section-5-overlay-wrapper-1' class='overlay-wrapper makevisible'>
                                    <div id='pt-section-5-overlay-1-content' class='pt-overlay'>
                                       <div id='pt-section-5-overlay-1-content-text' class='overlay-text nobackgroundcolor'>
                                          <h2><b>Guidelines</b></h2>
                                       </div>
                                    </div>
                                 </div>
                              </div>

                              <div id='pt-section-5-overlay-2' >
                                 <div id='pt-section-5-overlay-wrapper-2' class='overlay-wrapper makevisible'>
                                    <div id='pt-section-5-overlay-2-content' class='pt-overlay'>
                                       <div id='pt-section-5-overlay-2-content-text' class='overlay-text nobackgroundcolor' style="text-align: left">

                                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu eleifend risus, vitae porta massa. Vivamus vel ultricies arcu. Maecenas hendrerit efficitur ex id luctus. Suspendisse potenti. Pellentesque eu feugiat ante, eget tristique nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu eleifend risus, vitae porta massa. Vivamus vel ultricies arcu.</p>
                                          <p></p>
                                          <p></p>
                                          <p style='text-align: left;'>
                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu eleifend risus, vitae porta massa. Vivamus vel ultricies arcu. Maecenas hendrerit efficitur ex id luctus. Suspendisse potenti. Aliquam aliquet bibendum libero, eget consectetur libero vestibulum ac. Pellentesque eu feugiat ante, eget tristique nisl.
                                            </p>
                                          <p style='text-align: left;'></p>
                                          <p style='text-align: left;'>
                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu eleifend risus, vitae porta massa. Vivamus vel ultricies arcu. Maecenas hendrerit efficitur ex id luctus. Suspendisse potenti. Aliquam aliquet bibendum libero, eget consectetur libero vestibulum ac. Pellentesque eu feugiat ante, eget tristique nisl.
                                            </p>
                                          <p style='text-align: left;'></p>
                                          <p style='text-align: left;'>
                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu eleifend risus, vitae porta massa. Vivamus vel ultricies arcu. Maecenas hendrerit efficitur ex id luctus. Suspendisse potenti. Aliquam aliquet bibendum libero, eget consectetur libero vestibulum ac. Pellentesque eu feugiat ante, eget tristique nisl.
                                            </p>
                                          <p style='text-align: left;'></p>
                                          <p></p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                    <!-- SPACER -->

                     <div id='pt-section-wrapper-6' class='pt-section-wrapper'>
                        <div id='pt-section-6' style='background: rgba(0,0,0, 0); background-size: cover; background-position: center;' class='pt-section transparentbackground'>
                           <div id='pt-section-canvas-6'  class='pt-section-canvas sectionViewing'></div>
                        </div>
                     </div>

                    <!-- FOOTER -->

                     <div id='pt-section-wrapper-7' class='pt-section-wrapper'>
                        <div id='pt-section-7' style='background: #67141D; background-size: cover; background-position: center; font-size: 0;' class='pt-section colourbackground'>
                           <div id='pt-section-canvas-7'  class='pt-section-canvas sectionViewing'>
                              <div id='pt-section-7-overlay-1' >
                                 <div id='pt-section-7-overlay-wrapper-1' class='overlay-wrapper makevisible'>
                                    <div id='pt-section-7-overlay-1-content' class='pt-overlay'>
                                       <div id='pt-section-7-overlay-1-content-text' class='overlay-text nobackgroundcolor'>
                                          <h1><b>Made with love by StudGov</b></h1>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <script src='https://d2s3n99uw51hng.cloudfront.net/min/scrollReveal0001.min.js'></script><script>    (function($) {        'use strict';        window.sr= new scrollReveal({            reset: false,            move: '50px',            mobile: true        });    })();</script>
            </div>
         </div>
      </div>
   </body>
</html>